Language: Cpp
BasedOnStyle: Google
Standard: c++20
UseTab: Never
IndentWidth: 4
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: Empty
SpaceAfterTemplateKeyword: false
AlignAfterOpenBracket: BlockIndent
AccessModifierOffset: -4
BinPackArguments: false
BinPackParameters: false
ExperimentalAutoDetectBinPacking: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortEnumsOnASingleLine: false
InsertBraces: true
SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
IncludeCategories:
  # Headers in <> without extension.
  - Regex: '<([A-Za-z0-9\Q/-_\E])+>'
    Priority: 4
  # Headers in <> from specific external libraries.
  - Regex: '<(boost)\/([A-Za-z0-9.\Q/-_\E])+>'
    Priority: 3
  # Headers in <> with extension.
  - Regex: '<([A-Za-z0-9\Q/-_\E])+\..+>'
    Priority: 2
  # Headers in "" with extension.
  - Regex: '"([A-Za-z0-9.\Q/-_\E])+"'
    Priority: 1
