[submodule "corrade"]
	path = corrade
	url = https://github.com/mosra/corrade.git
[submodule "magnum"]
	path = magnum
	url = https://github.com/mosra/magnum.git
[submodule "magnum-plugins"]
	path = magnum-plugins
	url = https://github.com/mosra/magnum-plugins
[submodule "assimp"]
	path = assimp
	url = https://github.com/assimp/assimp
[submodule "magnum-extras"]
	path = magnum-extras
	url = https://github.com/mosra/magnum-extras
