build*/
*.kdev4
*~
/cmake-build-debug
/cmake-build-release
/.idea
/SDL2-2.0.10
/SDL2-MSVC
/resources/nevermore/materials
/resources-local
/assimp-vc142-mt.dll
/.gitattributes
/resources/materials_compressed
/resources_local
**/.DS_Store
/resources/config.ini
